*{
    box-sizing: border-box;
}


.background{
    background-image: url(./z13.jpg) ;
    position: absolute ;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(15px);
    
}

.btn:hover{
    opacity: 93%;
    
}